body{
  margin: 0;
  display: grid;
  grid-template-areas: 
  ". header . "
  "navDamage npc . ";
}

.parNav{
    border: 1px solid black;
    height: 5em;
    width: 20em;
}

header{
    grid-area: header;
}

.navDamage{
    grid-area: navDamage;
}

.npc{
    grid-area: npc;
}