body{
  margin: 0;
  display: grid;
  grid-template-areas: 
  ". header . "
  "navDamage pnj . ";
}

ul{
    list-style-type: none;
}

li{
    border-top: 1px solid black;
    height: 5em;
    width: 15em;
}

header{
    grid-area: header;
}

.navDamage{
    grid-area: navDamage;
}

.pnj{
    grid-area: pnj;
}